@model HeadlessCreator.Models.ViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <section class="hero is-small is-dark">
        <div class="hero-body">
            <p class="title">
                Bushcraft Basics
            </p>
            <p class="subtitle">
                Stay in the woods
            </p>
        </div>
    </section>
</div>

<div class="container">
        <h2 class="title is-2">Upcoming Events</h2>
    
    <div class="columns">
        @foreach (var upcomingEvent in Model.LatestEvents)
        {
            @await Html.PartialAsync("_Event", upcomingEvent)
        }
    </div>
</div>